polkit.addRule(function(action, subject) {
   if ((action.id == "org.freedesktop.ModemManager1.Device.Control")
      && (subject.user == "geoclue")) {
         return polkit.Result.YES;
    }
  if ((action.id == "org.freedesktop.ModemManager1.Location")
      && (subject.user == "geoclue")) {
         return polkit.Result.YES;
    }
});
